/*
Name: Muhammad Rahman
Date: 7/10/23
Ta: Allison Ho

This is the styles.css page for my todo list webiste. It styles the website with green
buttons and a blue background.
*/

body {
  font-family: 'Arial', 'Helvetica', sans-serif;
  margin: 0;
  padding: 30px;
  background-color: aquamarine;
}

header {
  font-weight: bold;
  font-size: larger;
  color: green;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  text-shadow: #5d45a0 1px 0 5px;
}

section {
  background-color: rgb(0, 191, 255);
  padding: 20px;
}

button {
  padding: 10px 12px;
  font-size: 16px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 45px;
}

div {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

input {
  font-size: 12px;
  height: 40px;
}

button:hover {
  background-color: #45a049;
}

p {
  font-size: larger;
  font-style: bold;
  padding: 0px;
}

.listStyle {
  color: red;
  background-color: #ffffff;
  padding: 10px;
}

#item-count {
  color: #ff0000;
}

section div p {
  background-color: #5d45a0;
  color: white;
  margin-right: 10px;
  border: 1px solid blueviolet;
  cursor: not-allowed;
}

.toggle {
  background-color: #ff0000;
  font-size: large;
}

div button, input {
  width: 125px;
}

.hide {
  display: none;
}
